<%- include('layouts/header') %>

    <h2 class="mt-3">Section title</h2>
    <div class="table-responsive">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis veniam voluptatibus mollitia
            harum soluta, ex rerum odio quidem dolor quo adipisci repudiandae et est! Id!</p>
    </div>

<%- include('layouts/footer') %>